useDynLib(remulate, .registration=TRUE)
importFrom(Rcpp,sourceCpp)
importFrom(stats, rexp)
importFrom(stats, as.formula)
export(average)
export(baseline)
export(difference)
export(dyad)
export(indegreeReceiver)
export(indegreeSender)
export(inertia)
export(isp)
export(itp)
export(maximum)
export(minimum)
export(osp)
export(otp)
export(outdegreeReceiver)
export(outdegreeSender)
export(psABAY)
export(psABBA)
export(psABBY)
export(psABXA)
export(psABXB)
export(psABXY)
export(receive)
export(recencyContinue)
export(recencyReceiveReceiver)
export(recencyReceiveSender)
export(recencySendReceiver)
export(recencySendSender)
export(reciprocity)
export(rrankReceive)
export(rrankSend)
export(same)
export(send)
export(tie)
export(totaldegreeReceiver)
export(totaldegreeSender)
export(ospSender)
export(otpSender)
export(remulateTieEffects)
export(interact)
export(remulateTie)
export(remulateActor)
export(remulateActorEffects)
export(parseEffectsTie)